n8n-workflows/linkedin_to_sheets_v14.json
{
  "name": "LinkedIn + AI + Hunter - FIXED v14 (Stable + Free Tier)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "interval": 1
            }
          ]
        }
      },
      "id": "node-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "jsCode": "const companies = [\n  { name: \"Ecopetrol\", domain: \"ecopetrol.com.co\" },\n  { name: \"Bancolombia\", domain: \"bancolombia.com\" },\n  { name: \"Grupo Aval\", domain: \"grupoaval.com\" },\n  { name: \"Suramericana\", domain: \"sura.com.co\" },\n  { name: \"ISA\", domain: \"isa.co\" },\n  { name: \"Nutresa\", domain: \"gruponutresa.com\" },\n  { name: \"Grupo Argos\", domain: \"grupoargos.com\" },\n  { name: \"EPM\", domain: \"epm.com.co\" },\n  { name: \"Avianca\", domain: \"avianca.com\" },\n  { name: \"Terpel\", domain: \"terpel.com\" },\n  { name: \"Alpina\", domain: \"alpina.com\" },\n  { name: \"Claro Colombia\", domain: \"claro.com.co\" },\n  { name: \"Postobon\", domain: \"postobon.com\" },\n  { name: \"Bavaria\", domain: \"bavaria.co\" },\n  { name: \"Globant\", domain: \"globant.com\" },\n  { name: \"Softserve\", domain: \"softserveinc.com\" },\n  { name: \"Tecnoglass\", domain: \"tecnoglass.com\" },\n  { name: \"IBM Colombia\", domain: \"ibm.com\" },\n  { name: \"Microsoft Colombia\", domain: \"microsoft.com\" },\n  { name: \"Oracle Colombia\", domain: \"oracle.com\" }\n];\n\nconst index = Math.floor(Date.now() / (1000 * 60 * 60)) % companies.length;\nreturn companies[index];"
      },
      "id": "node-selector",
      "name": "Seleccionar Empresa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json?engine=google&q=site:linkedin.com/in \"Gerente\" OR \"Director\" OR \"CEO\" \"{{ $json.name }}\"&api_key=7db43b470e02c158500b63bb69483d396c541d4964fb29ba10dc24810aaad59b&google_domain=google.com.co&gl=co",
        "options": {}
      },
      "id": "node-serpapi",
      "name": "HTTP: Buscar en LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "amount": 6,
        "unit": "seconds"
      },
      "id": "node-wait",
      "name": "Wait (Rate Limit Free Tier)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [680, 300],
      "webhookId": "wait-v14-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyA9alcMCjXy5ifh_-uRUVP91lofHAwcjVQ",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{\n  \"parts\": [{\n    \"text\": \"Extrae una lista de personas de estos resultados de búsqueda de Google (LinkedIn). Para cada persona, devuelve: firstName, lastName, cargo y linkedinURL. IMPORTANTE: Separa el nombre en firstName y lastName. Resultados: \" + JSON.stringify($json.organic_results || []) + \" Responde SOLO en formato JSON válido (un array de objetos). Ejemplo: [{\\\"firstName\\\": \\\"Juan\\\", \\\"lastName\\\": \\\"Perez\\\", \\\"cargo\\\": \\\"Gerente\\\", \\\"linkedinURL\\\": \\\"url\\\"}]\"\n  }]\n}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-gemini",
      "name": "HTTP: Extraer Datos AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const content = $json.candidates[0].content.parts[0].text;\n  const jsonMatch = content.match(/\\[[\\s\\S]*\\]/);\n  const jsonStr = jsonMatch ? jsonMatch[0] : \"[]\";\n  const result = JSON.parse(jsonStr);\n  const domain = $(\"Seleccionar Empresa\").first().json.domain;\n  const companyName = $(\"Seleccionar Empresa\").first().json.name;\n  return result.map(p => ({ json: { ...p, domain, companyName } }));\n} catch (e) {\n  return [];\n}"
      },
      "id": "node-format",
      "name": "Formatear Listado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "documentId": "11aTJIKWq-WKini5bsvwOrj6_topnvLPMOm4nXSKQMcI",
        "sheetName": "leads",
        "options": {}
      },
      "id": "node-sheets-read",
      "name": "Google Sheets: Leer Existentes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1250, 150]
    },
    {
      "parameters": {
        "jsCode": "const existingLeads = $(\"Google Sheets: Leer Existentes\").all();\nconst existingNames = existingLeads.map(l => `${l.json.Nombre} ${l.json.Apellido}`.toLowerCase().trim());\nconst currentBatch = $(\"Formatear Listado\").all();\n\nreturn currentBatch.filter(lead => {\n  const fullName = `${lead.json.firstName} ${lead.json.lastName}`.toLowerCase().trim();\n  return !existingNames.includes(fullName);\n});"
      },
      "id": "node-filter",
      "name": "Filtro: Anti-Duplicados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 450]
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/email-finder?domain={{ $json.domain }}&first_name={{ $json.firstName }}&last_name={{ $json.lastName }}&api_key=0aa3be971b5e23ce516e21fa248e2d39feab52eb",
        "options": {}
      },
      "id": "node-hunter",
      "name": "Hunter.io: Encontrar Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 450]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "11aTJIKWq-WKini5bsvwOrj6_topnvLPMOm4nXSKQMcI",
        "sheetName": "leads",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Nombre": "={{ $json.data.first_name }}",
            "Apellido": "={{ $json.data.last_name }}",
            "Email": "={{ $json.data.email || 'No encontrado' }}",
            "Cargo": "={{ $(\"Filtro: Anti-Duplicados\").item.json.cargo }}",
            "Empresa": "={{ $(\"Filtro: Anti-Duplicados\").item.json.companyName }}",
            "LinkedIn": "={{ $(\"Filtro: Anti-Duplicados\").item.json.linkedinURL }}"
          }
        },
        "options": {}
      },
      "id": "node-sheets-append",
      "name": "Google Sheets: Guardar Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1650, 450]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "11aTJIKWq-WKini5bsvwOrj6_topnvLPMOm4nXSKQMcI",
        "sheetName": "enterprises",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Empresa": "={{ $(\"Seleccionar Empresa\").first().json.name }}",
            "Ultima_Fecha": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Leads_Encontrados": "={{ $(\"Formatear Listado\").all().length }}",
            "Estado": "Completado",
            "iniciowork": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
          }
        },
        "options": {}
      },
      "id": "node-update-log",
      "name": "Update_Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1650, 150]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Seleccionar Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleccionar Empresa": {
      "main": [
        [
          {
            "node": "HTTP: Buscar en LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Buscar en LinkedIn": {
      "main": [
        [
          {
            "node": "Wait (Rate Limit Free Tier)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Rate Limit Free Tier)": {
      "main": [
        [
          {
            "node": "HTTP: Extraer Datos AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Extraer Datos AI": {
      "main": [
        [
          {
            "node": "Formatear Listado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Listado": {
      "main": [
        [
          {
            "node": "Google Sheets: Leer Existentes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtro: Anti-Duplicados",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update_Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro: Anti-Duplicados": {
      "main": [
        [
          {
            "node": "Hunter.io: Encontrar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter.io: Encontrar Email": {
      "main": [
        [
          {
            "node": "Google Sheets: Guardar Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
