n8n-workflows/linkedin_to_sheets_v4.json
{
  "name": "LinkedIn + AI Lead Gen - Universal Compatibility v4",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "interval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const companies = [\n  \"Ecopetrol\", \"Bancolombia\", \"Grupo Aval\", \"Suramericana\", \"ISA\", \"Nutresa\",\n  \"Grupo Argos\", \"Empresas Publicas de Medellin\", \"Avianca\", \"Terpel\",\n  \"Alpina\", \"Claro Colombia\", \"Movistar Colombia\", \"Postobon\", \"Bavaria\"\n];\n\nconst index = Math.floor(Date.now() / (1000 * 60 * 60)) % companies.length;\nreturn { company: companies[index] };"
      },
      "id": "pick-company",
      "name": "Seleccionar Empresa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "sendQueryParameters": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "site:linkedin.com/in \"Gerente\" OR \"Director\" OR \"CEO\" \"{{ $json.company }}\""
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "api_key",
              "value": "TU_API_KEY_DE_SERPAPI"
            },
            {
              "name": "google_domain",
              "value": "google.com.co"
            },
            {
              "name": "gl",
              "value": "co"
            }
          ]
        },
        "options": {}
      },
      "id": "serpapi-http",
      "name": "HTTP: Buscar en LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyA9alcMCjXy5ifh_-uRUVP91lofHAwcjVQ",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{\n  \"parts\": [{\n    \"text\": \"Extrae una lista de personas de estos resultados de búsqueda de Google (LinkedIn). Para cada persona, devuelve: nombre, cargo, empresa y URL de LinkedIn. Resultados: \" + JSON.stringify($json.organic_results) + \" Responde SOLO en formato JSON válido (un array de objetos). Ejemplo: [{\\\"nombre\\\": \\\"Juan Perez\\\", \\\"cargo\\\": \\\"Gerente\\\", \\\"empresa\\\": \\\"Ecopetrol\\\", \\\"linkedin\\\": \\\"url\\\"}]\"\n  }]\n}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gemini-http",
      "name": "HTTP: Extraer Datos AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const content = $json.candidates[0].content.parts[0].text;\n  const jsonStr = content.match(/\\[.*\\]/s)[0];\n  const result = JSON.parse(jsonStr);\n  return result.map(p => ({ json: p }));\n} catch (e) {\n  return [];\n}"
      },
      "id": "format-results",
      "name": "Formatear Listado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1R2ICBiltA6PD01Ctwa1rHIw58lqwxRm-UtYqHP8wCZk",
        "sheetName": "Hoja 1",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Nombre": "={{ $json.nombre }}",
            "Cargo": "={{ $json.cargo }}",
            "Empresa": "={{ $json.empresa }}",
            "LinkedIn": "={{ $json.linkedin }}",
            "Fuente": "LinkedIn + AI Universal"
          }
        },
        "options": {}
      },
      "id": "google-sheets-append",
      "name": "Google Sheets: Guardar Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TU_ID_DE_CREDENCIAL_GOOGLE",
          "name": "Google Sheets Account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Seleccionar Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleccionar Empresa": {
      "main": [
        [
          {
            "node": "HTTP: Buscar en LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Buscar en LinkedIn": {
      "main": [
        [
          {
            "node": "HTTP: Extraer Datos AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Extraer Datos AI": {
      "main": [
        [
          {
            "node": "Formatear Listado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Listado": {
      "main": [
        [
          {
            "node": "Google Sheets: Guardar Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}
