n8n-workflows/linkedin_to_sheets_v16.json
{
  "name": "LinkedIn + AI + Hunter - FINAL v16 (30+ Empresas)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "interval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const companies = [\n  { name: \"Ecopetrol\", domain: \"ecopetrol.com.co\" },\n  { name: \"Bancolombia\", domain: \"bancolombia.com\" },\n  { name: \"Grupo Aval\", domain: \"grupoaval.com\" },\n  { name: \"Suramericana\", domain: \"sura.com.co\" },\n  { name: \"ISA\", domain: \"isa.co\" },\n  { name: \"Nutresa\", domain: \"gruponutresa.com\" },\n  { name: \"Grupo Argos\", domain: \"grupoargos.com\" },\n  { name: \"EPM\", domain: \"epm.com.co\" },\n  { name: \"Avianca\", domain: \"avianca.com\" },\n  { name: \"Terpel\", domain: \"terpel.com\" },\n  { name: \"Alpina\", domain: \"alpina.com\" },\n  { name: \"Claro Colombia\", domain: \"claro.com.co\" },\n  { name: \"Postobon\", domain: \"postobon.com\" },\n  { name: \"Bavaria\", domain: \"bavaria.co\" },\n  { name: \"Celsia\", domain: \"celsia.com\" },\n  { name: \"Promigas\", domain: \"promigas.com\" },\n  { name: \"Banco de Bogota\", domain: \"bancodebogota.com\" },\n  { name: \"Davivienda\", domain: \"davivienda.com\" },\n  { name: \"Enel Colombia\", domain: \"enel.com.co\" },\n  { name: \"Cementos Argos\", domain: \"argos.co\" },\n  { name: \"Alqueria\", domain: \"alqueria.com.co\" },\n  { name: \"Grupo Bolivar\", domain: \"grupobolivar.com\" },\n  { name: \"Corficolombiana\", domain: \"corficolombiana.com\" },\n  { name: \"Mineros\", domain: \"mineros.com.co\" },\n  { name: \"Tecnoglass\", domain: \"tecnoglass.com\" },\n  { name: \"Valorem\", domain: \"valorem.com.co\" },\n  { name: \"Carvajal\", domain: \"carvajal.com\" },\n  { name: \"Colombina\", domain: \"colombina.com\" },\n  { name: \"Manuelita\", domain: \"manuelita.com\" },\n  { name: \"Riopaila Castilla\", domain: \"riopaila-castilla.com\" }\n];\n\nconst index = Math.floor(Date.now() / (1000 * 60 * 60)) % companies.length;\nreturn companies[index];"
      },
      "id": "pick-company",
      "name": "Seleccionar Empresa",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "url": "=https://serpapi.com/search.json?engine=google&q=site:linkedin.com/in \"Gerente\" OR \"Director\" OR \"CEO\" \"{{ $json.name }}\"&api_key=7db43b470e02c158500b63bb69483d396c541d4964fb29ba10dc24810aaad59b&google_domain=google.com.co&gl=co",
        "options": {}
      },
      "id": "serpapi-http",
      "name": "HTTP: Buscar en LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyCi7p6Gxc_fwB9kCbNtrIVN8k67FprHsWs",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{\n  \"parts\": [{\n    \"text\": \"Extrae una lista de personas de estos resultados de búsqueda de Google (LinkedIn). Para cada persona, devuelve: firstName, lastName, cargo y linkedinURL. IMPORTANTE: Separa el nombre en firstName y lastName. Resultados: \" + JSON.stringify($json.organic_results || []) + \" Responde SOLO en formato JSON válido (un array de objetos). Ejemplo: [{\\\"firstName\\\": \\\"Juan\\\", \\\"lastName\\\": \\\"Perez\\\", \\\"cargo\\\": \\\"Gerente\\\", \\\"linkedinURL\\\": \\\"url\\\"}]\"\n  }]\n}] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gemini-http",
      "name": "HTTP: Extraer Datos AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const content = $json.candidates[0].content.parts[0].text;\n  const jsonMatch = content.match(/\\[[\\s\\S]*\\]/);\n  const jsonStr = jsonMatch ? jsonMatch[0] : \"[]\";\n  const result = JSON.parse(jsonStr);\n  const domain = $(\"Seleccionar Empresa\").first().json.domain;\n  const companyName = $(\"Seleccionar Empresa\").first().json.name;\n  return result.map(p => ({ json: { ...p, domain, companyName } }));\n} catch (e) {\n  return [];\n}"
      },
      "id": "format-results",
      "name": "Formatear Listado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "documentId": "1R2ICBiltA6PD01Ctwa1rHIw58lqwxRm-UtYqHP8wCZk",
        "sheetName": "Hoja 1",
        "options": {}
      },
      "id": "google-sheets-read",
      "name": "Google Sheets: Leer Existentes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        150
      ]
    },
    {
      "parameters": {
        "jsCode": "const existingLeads = $(\"Google Sheets: Leer Existentes\").all();\nconst existingNames = existingLeads.map(l => `${l.json.Nombre} ${l.json.Apellido}`.toLowerCase().trim());\nconst currentBatch = $(\"Formatear Listado\").all();\n\nreturn currentBatch.filter(lead => {\n  const fullName = `${lead.json.firstName} ${lead.json.lastName}`.toLowerCase().trim();\n  return !existingNames.includes(fullName);\n});"
      },
      "id": "filter-dupes",
      "name": "Filtro: Anti-Duplicados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        450
      ]
    },
    {
      "parameters": {
        "url": "=https://api.hunter.io/v2/email-finder?domain={{ $json.domain }}&first_name={{ $json.firstName }}&last_name={{ $json.lastName }}&api_key=0aa3be971b5e23ce516e21fa248e2d39feab52eb",
        "options": {}
      },
      "id": "hunter-http",
      "name": "Hunter.io: Encontrar Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        450
      ]
    },
    {
      "parameters": {
        "jsCode": "let email = $json.data.email;\nlet status = \"Verificado (Hunter)\";\nlet confidence = ($json.data.score || 0) + \"%\";\n\nif (!email) {\n  const p = $(\"Filtro: Anti-Duplicados\").item.json;\n  const cleanFirst = p.firstName.toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/\\s+/g, '');\n  const cleanLast = p.lastName.toLowerCase().normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\").replace(/\\s+/g, '');\n  email = `${cleanFirst}.${cleanLast}@${p.domain}`;\n  status = \"Deducido (Patron AI)\";\n  confidence = \"70% (Estimado)\";\n}\n\nreturn {\n  email,\n  status,\n  confidence,\n  firstName: $(\"Filtro: Anti-Duplicados\").item.json.firstName,\n  lastName: $(\"Filtro: Anti-Duplicados\").item.json.lastName,\n  cargo: $(\"Filtro: Anti-Duplicados\").item.json.cargo,\n  domain: $(\"Filtro: Anti-Duplicados\").item.json.domain,\n  company: $(\"Filtro: Anti-Duplicados\").item.json.companyName,\n  linkedin: $(\"Filtro: Anti-Duplicados\").item.json.linkedinURL\n};"
      },
      "id": "email-recovery",
      "name": "Deducir Email si Falla Hunter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        450
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1R2ICBiltA6PD01Ctwa1rHIw58lqwxRm-UtYqHP8wCZk",
        "sheetName": "Hoja 1",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
            "Nombre": "={{ $json.firstName }}",
            "Apellido": "={{ $json.lastName }}",
            "Email": "={{ $json.email }}",
            "Cargo": "={{ $json.cargo }}",
            "Empresa": "={{ $json.company }}",
            "LinkedIn": "={{ $json.linkedin }}",
            "Confianza Email": "={{ $json.status }} ({{ $json.confidence }})"
          }
        },
        "options": {}
      },
      "id": "sheets-append",
      "name": "Google Sheets: Guardar Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1750,
        450
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Seleccionar Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleccionar Empresa": {
      "main": [
        [
          {
            "node": "HTTP: Buscar en LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Buscar en LinkedIn": {
      "main": [
        [
          {
            "node": "HTTP: Extraer Datos AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Extraer Datos AI": {
      "main": [
        [
          {
            "node": "Formatear Listado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Listado": {
      "main": [
        [
          {
            "node": "Google Sheets: Leer Existentes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filtro: Anti-Duplicados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro: Anti-Duplicados": {
      "main": [
        [
          {
            "node": "Hunter.io: Encontrar Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter.io: Encontrar Email": {
      "main": [
        [
          {
            "node": "Deducir Email si Falla Hunter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deducir Email si Falla Hunter": {
      "main": [
        [
          {
            "node": "Google Sheets: Guardar Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}
