n8n-workflows/n8n_tracking_pixel.json
{
  "name": "Tracking Pixel - Elspec (v4 SUPER ROBUSTO)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "elspec-track-open-v3",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-v3",
      "name": "Webhook v3",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        240
      ],
      "webhookId": "elspec-track-open-v3"
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectUrl": "https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png",
        "options": {}
      },
      "id": "redirect-pixel",
      "name": "Responder (Redirigir a Pixel)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        450,
        140
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  campaignId: $input.item.json.query.campaignId\n};"
      },
      "id": "extract-id",
      "name": "Extraer ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        340
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/sistema-tickets-766f4/databases/(default)/documents/campaigns/{{$json.campaignId}}?updateMask.fieldPaths=stats.opened",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleServiceAccountApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fields.stats.opened.integerValue",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "update-db-v4",
      "name": "Actualizar DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        340
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook v3": {
      "main": [
        [
          {
            "node": "Responder (Redirigir a Pixel)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraer ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
