n8n-workflows/n8n_unified_ai_agent.json
{
  "name": "Agente Maestro IA (Elspec Unified Router v5)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elspec-ai-agent-v1",
        "options": {}
      },
      "id": "master-webhook",
      "name": "Webhook Maestro",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "elspec-track-open-v3",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "tracking-webhook",
      "name": "Webhook Tracking (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        200,
        900
      ],
      "webhookId": "elspec-track-open-v3"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.action }}",
        "rules": {
          "rules": [
            {
              "value2": "find_prospects",
              "outputKey": "Prospectos"
            },
            {
              "value2": "launch_campaign",
              "outputKey": "Campaña"
            }
          ]
        },
        "fallbackOutput": 2
      },
      "id": "master-switch",
      "name": "Enrutador por Acción",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseBody": "{\"error\": \"Acción no válida o no especificada en el body.\"}"
        }
      },
      "id": "error-responder",
      "name": "Respond to Webhook (Error)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        700
      ]
    },
    {
      "parameters": {
        "url": "https://html.duckduckgo.com/html/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=site:linkedin.com/in \"{{ $json.body.companyName }}\" {{ $json.body.targetRoles ? $json.body.targetRoles.split(',').map(r => `\"${r.trim()}\"`).join(' OR ') : '' }}"
            }
          ]
        },
        "options": {
          "redirect": {}
        }
      },
      "id": "prospect-scraper",
      "name": "DuckDuckGo Scraper (Gratis)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        100
      ]
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "a.result__a"
            },
            {
              "key": "link",
              "cssSelector": "a.result__a",
              "returnValue": "attribute"
            },
            {
              "key": "snippet",
              "cssSelector": ".result__snippet"
            }
          ]
        },
        "options": {}
      },
      "id": "prospect-extract",
      "name": "Extraer Datos (HTML)",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        1000,
        100
      ]
    },
    {
      "parameters": {
      "method": "POST",
      "url": "=https://generativelanguage.googleapis.com/v1/models/gemini-1.5-flash:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents.0.parts.0.text",
              "value": "=Eres un experto extractor de datos B2B. A continuación te proporciono un JSON con resultados de búsqueda web para la empresa: {{ $('Webhook Maestro').item.json.body.companyName }}\n\nTu trabajo es identificar personas y sus cargos. Extrae la información y devuélvela en formato de array de objetos JSON estricto. Campos requeridos:\n- \"name\": Nombre completo.\n- \"role\": Cargo o título.\n- \"linkedin\": URL de LinkedIn.\n- \"companyDomain\": Dominio principal de la empresa.\n- \"industry\": \"{{ $('Webhook Maestro').item.json.body.companyName }}\"\n\nDatos Web Crudos:\n{{ JSON.stringify($input.all().map(item => ({ titulo: item.json.title, snippet: item.json.snippet, link: item.json.link }))) }}\n\nOJO: SOLO devuelve el JSON RAW, sin markdown."
            }
          ]
        },
        "options": {}
      },
      "id": "prospect-gemini",
      "name": "Gemini (Parsear HTML)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "try {\n  const rawAiText = $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text || $json.text || '[]';\n  // Limpieza robusta de Markdown JSON\n  let cleanJsonText = rawAiText.replace(/^[\\s\\S]*?```(?:json)?\\n?/i, ''); \n  cleanJsonText = cleanJsonText.replace(/\\n?```[\\s\\S]*$/i, '');\n  cleanJsonText = cleanJsonText.trim();\n  \n  if (!cleanJsonText.startsWith('[')) cleanJsonText = '[' + cleanJsonText;\n  if (!cleanJsonText.endsWith(']')) cleanJsonText = cleanJsonText + ']';\n\n  const results = JSON.parse(cleanJsonText);\n  \n  if (Array.isArray(results) && results.length > 0) {\n    return results.map(p => ({ json: p }));\n  } else {\n     return [{ json: { name: \"AI vacía\", error: \"Gemini no encontró prospectos\", role: \"Error\", industry: \"N/A\", companyDomain: \"\" } }];\n  }\n} catch (e) {\n  return [{ json: { name: \"Error en el formato AI\", error: e.message, role: \"Error\", industry: \"N/A\", companyDomain: \"\" } }];\n}"
      },
      "id": "prospect-split",
      "name": "Separar Prospectos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        100
      ]
    },
    {
      "parameters": {
      "method": "GET",
      "url": "https://api.hunter.io/v2/domain-search",
      "sendQuery": true,
      "queryParameters": {
        "parameters": [
          {
            "name": "domain",
            "value": "={{ $json.companyDomain }}"
          },
          {
            "name": "api_key",
            "value": "={{ $env.HUNTER_API_KEY }}"
          },
          {
            "name": "limit",
            "value": "10"
          }
        ]
      },
      "options": {}
    },
      "id": "prospect-hunter",
      "name": "Hunter.io (Gratis)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1600,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prospect = $('Separar Prospectos').item.json;\nconst hunterData = $json.data?.emails || [];\nconst pattern = $json.data?.pattern || '{first}.{last}';\n\nlet bestEmail = null;\nlet source = 'not_found';\n\nconst cleanStr = (str) => (str || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/\\s/g, '');\nconst fnRaw = prospect.name ? prospect.name.split(' ')[0] : '';\nconst lnRaw = prospect.name ? (prospect.name.split(' ').slice(1).join(' ') || '') : '';\nconst fn = cleanStr(fnRaw);\nconst ln = cleanStr(lnRaw.split(' ')[0]); // Solo primer apellido para correos\n\n// 1. Intentar Match exacto en Hunter\nif (hunterData.length > 0 && prospect.name) {\n  const match = hunterData.find(e => \n    (fn && cleanStr(e.first_name).includes(fn)) || \n    (ln && cleanStr(e.last_name).includes(ln))\n  );\n  if (match) {\n    bestEmail = match.value;\n    source = 'hunter_io';\n  }\n}\n\n// 2. IA Fallback: Adivinar correo si Hunter no lo encontró pero tenemos nombre y dominio\nif (!bestEmail && fn && prospect.companyDomain) {\n    let guessed = '';\n    if (pattern.includes('{first}.{last}')) guessed = `${fn}.${ln}`;\n    else if (pattern.includes('{f}{last}')) guessed = `${fn.charAt(0)}${ln}`;\n    else if (pattern.includes('{first}{last}')) guessed = `${fn}${ln}`;\n    else if (pattern.includes('{first}_{last}')) guessed = `${fn}_${ln}`;\n    else if (pattern.includes('{last}{first}')) guessed = `${ln}${fn}`;\n    else guessed = `${fn}.${ln}`; // Por defecto\n    \n    // Fix para casos donde no hay apellido\n    guessed = guessed.replace(/^\\.|\\.$/g, '');\n    \n    bestEmail = `${guessed}@${prospect.companyDomain}`;\n    source = 'ia_estimado';\n}\n\nreturn {\n  ...prospect,\n  email: bestEmail,\n  emailSource: source,\n  id: Math.random().toString(36).substring(2, 9)\n};"
      },
      "id": "prospect-merge",
      "name": "Merge Hunter + IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "return { prospects: $input.all().map(i => i.json) };"
      },
      "id": "prospect-aggregate",
      "name": "Agrupar Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        100
      ]
    },
    {
      "parameters": {
        "options": {
          "responseBody": "={{$json}}"
        }
      },
      "id": "prospect-respond",
      "name": "Respond Prospectos",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2200,
        100
      ]
    },
    {
      "parameters": {
        "options": {
          "responseBody": "{\"message\": \"Campaña encolada correctamente. Procesando en segundo plano...\"}"
        }
      },
      "id": "campania-respond-early",
      "name": "Responder a React (Campaña Recibida)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const actualData = $input.all()[0].json.body;\nconst contacts = actualData.contacts || [];\nreturn contacts.map(c => {\n  return {\n    json: {\n      ...actualData,\n      ...c,\n      contacts: undefined\n    }\n  };\n});"
      },
      "id": "campania-split",
      "name": "Bucle: Separar Contactos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.aiEngine }}",
              "value2": "gemini"
            }
          ]
        }
      },
      "id": "campania-if",
      "name": "IF: ¿Es Gemini?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1200,
        400
      ]
    },
    {
      "parameters": {
      "method": "POST",
      "url": "=https://generativelanguage.googleapis.com/v1/models/gemini-1.5-flash:generateContent?key={{$env.GEMINI_API_KEY}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents.0.parts.0.text",
              "value": "=Eres el asesor técnico de ELSPEC ANDINA. Genera el cuerpo de un correo comercial en fragmento HTML para el sector: {{ $json.industry }}\n\nREGLAS:\n- SOLO devuelve el fragmento HTML del contenido (sin etiquetas html, head o body).\n- Secciones: Saludo, 3 Necesidades Críticas, Cómo Elspec resuelve esto, y Cierre con propuesta de diagnóstico.\n- Estilo profesional y moderno."
            }
          ]
        },
        "options": {}
      },
      "id": "campania-gemini",
      "name": "Gemini (Generar Email)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1400,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "prompt": "=Eres {{ $('Bucle: Separar Contactos').item.json.senderName }}, un asesor experto técnico de Elspec. Investiga las 3 necesidades eléctricas críticas para una empresa en el sector {{ $('Bucle: Separar Contactos').item.json.industry }} en Colombia. Responde en un párrafo breve y profesional.",
        "options": {},
        "requestOptions": {}
      },
      "id": "campania-openai",
      "name": "OpenAI (Pago)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1400,
        500
      ]
    },
    {
      "parameters": {
        "amount": "={{ $('Bucle: Separar Contactos').item.json.delayAmount }}",
        "unit": "={{ $('Bucle: Separar Contactos').item.json.delayUnit }}"
      },
      "id": "campania-wait",
      "name": "Pausa Dinámica",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1650,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const originalData = $('Bucle: Separar Contactos').item.json;\n  const rawAiText = $json.candidates?.[0]?.content?.parts?.[0]?.text || $json.content?.parts?.[0]?.text || $json.text || $json.data || \n  $json.choices?.[0]?.message?.content || $json.choices?.[0]?.text || \n  $json.output || '<p>Contenido no generado</p>';\nconst contentFragment = rawAiText\n  .replace(/^```html\\n?/i, '').replace(/^```\\n?/i, '').replace(/\\n?```$/i, '').trim();\nconst vendorName = originalData.senderName || 'Equipo Comercial';\nconst vendorEmail = originalData.senderEmail || 'ventas@elspecandina.com';\nconst industry = originalData.industry || 'su sector';\nconst email = originalData.email || '';\nconst campaignId = originalData.campaignId || '';\nconst formUrl = `https://elspec-formulario.web.app?email=${encodeURIComponent(email)}&vendedor=${encodeURIComponent(vendorEmail)}&vendedorNombre=${encodeURIComponent(vendorName)}&industry=${encodeURIComponent(industry)}`;\nconst trackingPixelUrl = `https://n8n.gestionelspec.site/webhook/elspec-track-open-v3?campaignId=${campaignId}`;\nconst aiText = `<!DOCTYPE html>\n<html lang=\"es\"><head><meta charset=\"UTF-8\">\n<title>Soluciones para el sector ${industry} | ELSPEC ANDINA</title></head>\n<body style=\"margin:0;padding:0;background-color:#f4f4f4;font-family:Arial,Helvetica,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f4;padding:20px 0;\">\n<tr><td align=\"center\">\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 12px rgba(0,0,0,0.08);\">\n  <tr>\n    <td style=\"background:linear-gradient(135deg,#1a237e 0%,#283593 60%,#1565c0 100%);padding:25px 40px;text-align:center;\">\n      <img src=\"https://www.elspecandina.com.co/wp-content/uploads/2021/05/aw3.jpg\" alt=\"ELSPEC ANDINA\" style=\"height:70px;margin-bottom:12px;display:block;margin-left:auto;margin-right:auto;border-radius:4px;\">\n      <h1 style=\"color:#ffffff;margin:0;font-size:26px;font-weight:bold;letter-spacing:1px;\">ELSPEC ANDINA</h1>\n      <p style=\"color:#90caf9;margin:6px 0 0;font-size:13px;letter-spacing:2px;text-transform:uppercase;\">Soluciones en Calidad de Energía Eléctrica</p>\n    </td>\n  </tr>\n  <tr><td style=\"padding:30px 40px;\">${contentFragment}</td></tr>\n  <tr>\n    <td style=\"padding:20px 40px 30px;text-align:center;\">\n      <a href=\"${formUrl}\" style=\"background:linear-gradient(135deg,#1565c0,#1a237e);color:#ffffff;padding:14px 35px;border-radius:25px;text-decoration:none;font-size:15px;font-weight:bold;display:inline-block;\">📋 Solicitar Diagnóstico Gratuito</a>\n    </td>\n  </tr>\n  <tr><td style=\"padding:0 40px;\"><hr style=\"border:none;border-top:1px solid #e0e0e0;\"></td></tr>\n  <tr>\n    <td style=\"padding:25px 40px;\">\n      <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n        <td style=\"border-left:4px solid #1565c0;padding-left:15px;\">\n          <p style=\"margin:0;font-weight:bold;font-size:16px;color:#1a237e;\">${vendorName}</p>\n          <p style=\"margin:3px 0 0;font-size:13px;color:#666;\">Asesor Técnico Comercial | ELSPEC ANDINA S.A.S.</p>\n          <p style=\"margin:3px 0 0;font-size:13px;color:#1565c0;\">📧 ${vendorEmail}</p>\n          <p style=\"margin:3px 0 0;font-size:13px;color:#666;\">🌐 https://www.elspecandina.com.co/ | 📍 Colombia</p>\n        </td>\n      </tr></table>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"background:#1a237e;padding:20px 40px;text-align:center;\">\n      <p style=\"color:#90caf9;font-size:11px;margin:0;\">© 2025 ELSPEC ANDINA S.A.S. | Calidad de Energía para la Industria Colombiana</p>\n      <p style=\"color:#5c6bc0;font-size:10px;margin:5px 0 0;\">Si no deseas recibir más información, responde con \"Cancelar suscripción\".</p>\n    </td>\n  </tr>\n</table></td></tr></table>\n<!-- Tracking Pixel (Invisible) -->\n<img src=\"${trackingPixelUrl}\" alt=\"\" width=\"1\" height=\"1\" style=\"display:none !important;visibility:hidden;opacity:0;\" />\n</body></html>`;\nreturn { \n  json: {\n    ...originalData, \n    aiText: aiText,\n    vendedor: { nombre: vendorName, email: vendorEmail }\n  }\n};"
      },
      "id": "campania-construct",
      "name": "Construir Variables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1850,
        400
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.vendedor.email }}",
        "toEmail": "={{ $json.email }}",
        "subject": "=Sobre el sector {{ $json.industry }} y su energía",
        "html": "={{ $json.aiText }}",
        "options": {
          "replyTo": "={{ $json.vendedor.email }}"
        }
      },
      "id": "campania-send",
      "name": "Enviar Correo (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2100,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "redirect",
        "redirectUrl": "https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png",
        "options": {}
      },
      "id": "track-redirect",
      "name": "Responder (Redirigir a Pixel)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        450,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "return {\n  campaignId: $input.item.json.query.campaignId\n};"
      },
      "id": "track-extract",
      "name": "Extraer ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        450,
        1000
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://firestore.googleapis.com/v1/projects/sistema-tickets-766f4/databases/(default)/documents/campaigns/{{$json.campaignId}}?updateMask.fieldPaths=stats.opened",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleServiceAccountApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "fields.stats.opened.integerValue",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "id": "track-update",
      "name": "Actualizar DB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        1000
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Webhook Maestro": {
      "main": [
        [
          {
            "node": "Enrutador por Acción",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Tracking (GET)": {
      "main": [
        [
          {
            "node": "Responder (Redirigir a Pixel)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraer ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutador por Acción": {
      "main": [
        [
          {
            "node": "DuckDuckGo Scraper (Gratis)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder a React (Campaña Recibida)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bucle: Separar Contactos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook (Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DuckDuckGo Scraper (Gratis)": {
      "main": [
        [
          {
            "node": "Extraer Datos (HTML)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos (HTML)": {
      "main": [
        [
          {
            "node": "Gemini (Parsear HTML)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini (Parsear HTML)": {
      "main": [
        [
          {
            "node": "Separar Prospectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Separar Prospectos": {
      "main": [
        [
          {
            "node": "Hunter.io (Gratis)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hunter.io (Gratis)": {
      "main": [
        [
          {
            "node": "Merge Hunter + IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Hunter + IA": {
      "main": [
        [
          {
            "node": "Agrupar Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agrupar Array": {
      "main": [
        [
          {
            "node": "Respond Prospectos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bucle: Separar Contactos": {
      "main": [
        [
          {
            "node": "IF: ¿Es Gemini?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: ¿Es Gemini?": {
      "main": [
        [
          {
            "node": "Gemini (Generar Email)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI (Pago)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini (Generar Email)": {
      "main": [
        [
          {
            "node": "Pausa Dinámica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI (Pago)": {
      "main": [
        [
          {
            "node": "Pausa Dinámica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pausa Dinámica": {
      "main": [
        [
          {
            "node": "Construir Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Variables": {
      "main": [
        [
          {
            "node": "Enviar Correo (SMTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer ID": {
      "main": [
        [
          {
            "node": "Actualizar DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}