n8n-workflows/n8n_unified_ai_agent.json
{
    "name": "Agente Maestro IA (Elspec Unified Router v5)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "elspec-ai-agent-v1",
                "options": {}
            },
            "id": "master-webhook",
            "name": "Webhook Maestro",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ]
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "elspec-track-open-v3",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "tracking-webhook",
            "name": "Webhook Tracking (GET)",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                900
            ],
            "webhookId": "elspec-track-open-v3"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.body.action }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "create_flyer",
                            "outputKey": "Flyer"
                        },
                        {
                            "value2": "find_prospects",
                            "outputKey": "Prospectos"
                        },
                        {
                            "value2": "launch_campaign",
                            "outputKey": "Campaña"
                        }
                    ]
                },
                "fallbackOutput": 3
            },
            "id": "master-switch",
            "name": "Enrutador por Acción",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "options": {
                    "responseCode": 400,
                    "responseBody": "{\"error\": \"Acción no válida o no especificada en el body.\"}"
                }
            },
            "id": "error-responder",
            "name": "Respond to Webhook (Error)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                800,
                700
            ]
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-3.5-turbo",
                "messages": {
                    "message": [
                        {
                            "role": "system",
                            "content": "Eres un copywriter experto en marketing industrial para ELSPEC ANDINA."
                        },
                        {
                            "content": "=Genera una campaña para:\nIndustria: {{$json.body.industry}}\nTono: {{$json.body.tone}}\nIdea: {{$json.body.prompt}}\n\nResponde STRICTLY en formato JSON:\n{\n  \"title\": \"Título impactante\",\n  \"copy\": \"Texto persuasivo corto\",\n  \"cta\": \"Botón de acción\",\n  \"img_prompt\": \"Scene of high-end industrial power equipment, professional photography, technical and premium look\"\n}"
                        }
                    ]
                },
                "jsonOutput": true
            },
            "id": "flyer-1",
            "name": "GPT-3.5 (Copywriter)",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1.1,
            "position": [
                800,
                -100
            ]
        },
        {
            "parameters": {
                "operation": "imageGeneration",
                "prompt": "={{$json.img_prompt}}",
                "size": "1024x1024",
                "quality": "standard"
            },
            "id": "flyer-2",
            "name": "DALL-E 3 (Designer)",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1.1,
            "position": [
                1000,
                -100
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignment": [
                        {
                            "id": "assigned-title",
                            "name": "title",
                            "value": "={{$node[\"GPT-3.5 (Copywriter)\"].json.title}}",
                            "type": "string"
                        },
                        {
                            "id": "assigned-copy",
                            "name": "copy",
                            "value": "={{$node[\"GPT-3.5 (Copywriter)\"].json.copy}}",
                            "type": "string"
                        },
                        {
                            "id": "assigned-cta",
                            "name": "cta",
                            "value": "={{$node[\"GPT-3.5 (Copywriter)\"].json.cta}}",
                            "type": "string"
                        },
                        {
                            "id": "assigned-img",
                            "name": "imageUrl",
                            "value": "={{$json.url}}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "id": "flyer-3",
            "name": "Estructurar Respuesta Flyer",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.2,
            "position": [
                1200,
                -100
            ]
        },
        {
            "parameters": {
                "options": {
                    "responseBody": "={{$json}}"
                }
            },
            "id": "flyer-4",
            "name": "Respond Flyer",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1400,
                -100
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://customsearch.googleapis.com/customsearch/v1",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "key",
                            "value": "{{ $json.body.googleApiKey || 'TU_GOOGLE_API_KEY' }}"
                        },
                        {
                            "name": "cx",
                            "value": "{{ $json.body.googleCx || 'TU_SEARCH_ENGINE_ID' }}"
                        },
                        {
                            "name": "q",
                            "value": "=site:linkedin.com/in \"{{ $json.body.companyName }}\" {{ $json.body.targetRoles ? $json.body.targetRoles.split(',').map(r => `\"${r.trim()}\"`).join(' OR ') : '' }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "prospect-google-search",
            "name": "Google Custom Search (Gratis 100/dia)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                750,
                150
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-2.5-flash",
                    "mode": "list",
                    "cachedResultName": "models/gemini-2.5-flash"
                },
                "messages": {
                    "values": [
                        {
                            "content": "=Eres un experto extractor de datos B2B. A continuación te proporciono un JSON con resultados de Google Search (títulos, descripciones cortas y links de perfiles de LinkedIn) para la empresa: {{ $('Webhook Maestro').item.json.body.companyName }}\n\nTu trabajo es leer atentamente estos textos e identificar qué personas trabajan ahí y cuál es su rol. Extrae la información de cada persona identificada y devuélvela en formato de array de objetos JSON estricto. Cada objeto debe tener los siguientes campos exactos:\n- \"name\": Nombre completo y limpio de la persona (sin emojis ni títulos universitarios al lado).\n- \"role\": Cargo o título que ocupa en la empresa (ej: Gerente Comercial, Ingeniero, etc).\n- \"linkedin\": La URL de LinkedIn completa extraída del campo 'link' correspondiente.\n- \"companyDomain\": Extrae el dominio web principal de la empresa a partir del nombre u organización (ej: elspecandina.com, ecopetrol.com.co).\n- \"industry\": \"{{ $('Webhook Maestro').item.json.body.companyName }}\"\n\nSi no encuentras el rol exacto o el dominio exacto en el texto, infiérelos inteligentemente. OJO: SOLO devuelve el array de objetos en JSON RAW. Sin formato markdown (` ```json `), sin texto introductorio, sin despedida. Solo el JSON VÁLIDO. Si la lista está vacía o no tiene perfiles reales, devuelve [].\n\nResultados crudos de Google a analizar:\n{{ JSON.stringify(($json.items || []).map(item => ({ titulo: item.title, snippet: item.snippet, link: item.link }))) }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "prospect-gemini",
            "name": "Gemini (Parsear Resultados)",
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1.1,
            "position": [
                1150,
                150
            ],
            "credentials": {
                "googlePalmApi": {
                    "id": "XNzMSTlVUVn9daI0",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "try {\n  const rawAiText = $json.content?.parts?.[0]?.text || $json.text || $json.data || $json.output || '[]';\n  // Limpieza robusta de Markdown JSON\n  let cleanJsonText = rawAiText.replace(/^[\\s\\S]*?```(?:json)?\\n?/i, ''); // Remueve todo ANTES del ```json\n  cleanJsonText = cleanJsonText.replace(/\\n?```[\\s\\S]*$/i, ''); // Remueve todo DESPUÉS del último ```\n  cleanJsonText = cleanJsonText.trim();\n  \n  if (!cleanJsonText.startsWith('[')) cleanJsonText = '[' + cleanJsonText;\n  if (!cleanJsonText.endsWith(']')) cleanJsonText = cleanJsonText + ']';\n\n  const results = JSON.parse(cleanJsonText);\n  \n  if (Array.isArray(results) && results.length > 0) {\n    return results.map(p => ({ json: p }));\n  } else {\n     return [{ json: { name: \"API de Google vacía\", error: \"Gemini no encontró prospectos\", role: \"Error\", industry: \"N/A\", companyDomain: \"\" } }];\n  }\n} catch (e) {\n  console.error(\"Error parsing Gemini JSON:\", e);\n  return [{ json: { name: \"Error en el formato AI\", error: e.message, role: \"Error\", industry: \"N/A\", companyDomain: \"\" } }];\n}"
            },
            "id": "prospect-split",
            "name": "Separar Prospectos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1350,
                150
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "https://api.hunter.io/v2/domain-search",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "domain",
                            "value": "={{ $json.companyDomain }}"
                        },
                        {
                            "name": "api_key",
                            "value": "0aa3be971b5e23ce516e21fa248e2d39feab52eb"
                        },
                        {
                            "name": "limit",
                            "value": "10"
                        }
                    ]
                },
                "options": {}
            },
            "id": "prospect-hunter",
            "name": "Hunter.io (Gratis)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1550,
                250
            ],
            "onError": "continueRegularOutput"
        },
        {
            "parameters": {
                "jsCode": "const prospect = $('Separar Prospectos').item.json;\nconst hunterData = $json.data?.emails || [];\nconst pattern = $json.data?.pattern || '{first}.{last}';\n\nlet bestEmail = null;\nlet source = 'not_found';\n\nconst cleanStr = (str) => (str || '').normalize('NFD').replace(/[\\u0300-\\u036f]/g, '').toLowerCase().replace(/\\s/g, '');\nconst fnRaw = prospect.name ? prospect.name.split(' ')[0] : '';\nconst lnRaw = prospect.name ? (prospect.name.split(' ').slice(1).join(' ') || '') : '';\nconst fn = cleanStr(fnRaw);\nconst ln = cleanStr(lnRaw.split(' ')[0]); // Solo primer apellido para correos\n\n// 1. Intentar Match exacto en Hunter\nif (hunterData.length > 0 && prospect.name) {\n  const match = hunterData.find(e => \n    (fn && cleanStr(e.first_name).includes(fn)) || \n    (ln && cleanStr(e.last_name).includes(ln))\n  );\n  if (match) {\n    bestEmail = match.value;\n    source = 'hunter_io';\n  }\n}\n\n// 2. IA Fallback: Adivinar correo si Hunter no lo encontró pero tenemos nombre y dominio\nif (!bestEmail && fn && prospect.companyDomain) {\n    let guessed = '';\n    if (pattern.includes('{first}.{last}')) guessed = `${fn}.${ln}`;\n    else if (pattern.includes('{f}{last}')) guessed = `${fn.charAt(0)}${ln}`;\n    else if (pattern.includes('{first}{last}')) guessed = `${fn}${ln}`;\n    else if (pattern.includes('{first}_{last}')) guessed = `${fn}_${ln}`;\n    else if (pattern.includes('{last}{first}')) guessed = `${ln}${fn}`;\n    else guessed = `${fn}.${ln}`; // Por defecto\n    \n    // Fix para casos donde no hay apellido\n    guessed = guessed.replace(/^\\.|\\.$/g, '');\n    \n    bestEmail = `${guessed}@${prospect.companyDomain}`;\n    source = 'ia_estimado';\n}\n\nreturn {\n  ...prospect,\n  email: bestEmail,\n  emailSource: source,\n  id: Math.random().toString(36).substring(2, 9)\n};"
            },
            "id": "prospect-merge",
            "name": "Merge Hunter + IA",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1750,
                150
            ]
        },
        {
            "parameters": {
                "jsCode": "return { prospects: $input.all().map(i => i.json) };"
            },
            "id": "prospect-aggregate",
            "name": "Agrupar Array",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1950,
                150
            ]
        },

        {
            "parameters": {
                "options": {
                    "responseBody": "={{$json}}"
                }
            },
            "id": "prospect-3",
            "name": "Respond Prospectos",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2150,
                150
            ]
        },
        {
            "parameters": {
                "options": {
                    "responseBody": "{\"message\": \"Campaña encolada correctamente. Procesando en segundo plano...\"}"
                }
            },
            "id": "campania-respond-early",
            "name": "Responder a React (Campaña Recibida)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                800,
                350
            ]
        },
        {
            "parameters": {
                "jsCode": "const actualData = $input.all()[0].json.body;\nconst contacts = actualData.contacts || [];\nreturn contacts.map(c => {\n  return {\n    json: {\n      ...actualData,\n      ...c,\n      contacts: undefined\n    }\n  };\n});"
            },
            "id": "campania-split",
            "name": "Bucle: Separar Contactos",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1000,
                350
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "value1": "={{ $json.aiEngine }}",
                            "value2": "gemini"
                        }
                    ]
                }
            },
            "id": "campania-if",
            "name": "IF: ¿Es Gemini?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1200,
                350
            ]
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "models/gemini-2.5-flash",
                    "mode": "list",
                    "cachedResultName": "models/gemini-2.5-flash"
                },
                "messages": {
                    "values": [
                        {
                            "content": "==Eres el asesor técnico comercial de ELSPEC ANDINA, empresa en calidad de energía eléctrica en Colombia. Productos: analizadores de energía, filtros activos de armónicos, monitoreo continuo, correctores de factor de potencia, variadores de frecuencia.\n\nGenera un fragmento HTML del cuerpo de un correo comercial para el sector: {{ $json.industry }}\n\nREGLAS:\n- Devuelve SOLO el fragmento HTML del contenido. SIN DOCTYPE, SIN html, SIN head, SIN body, SIN firma, SIN footer.\n- Sin markdown, sin bloques de código, sin explicaciones.\n\nIncluye EXACTAMENTE estas secciones en este orden:\n1. Párrafo de saludo (2-3 oraciones empáticas sobre el reto eléctrico del sector {{ $json.industry }})\n2. Título h2 azul: \"⚡ 3 Necesidades Críticas del Sector {{ $json.industry }}\"\n3. 3 necesidades del sector, cada una con número circular azul (#1565c0), título en negrita azul oscuro (#1a237e) y descripción de 2-3 líneas\n4. Sección con fondo #e8eaf6: título \"🔧 ¿Cómo resuelve ELSPEC ANDINA estos retos?\" y 4-5 bullets: • PRODUCTO: beneficio específico para {{ $json.industry }}\n5. Párrafo de cierre motivador de 2 oraciones (propone diagnóstico gratuito)\n"
                        }
                    ]
                },
                "builtInTools": {},
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.googleGemini",
            "typeVersion": 1.1,
            "position": [
                1400,
                250
            ],
            "id": "campania-gemini",
            "name": "Message a model (Gemini)",
            "credentials": {
                "googlePalmApi": {
                    "id": "XNzMSTlVUVn9daI0",
                    "name": "Google Gemini(PaLM) Api account"
                }
            }
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "prompt": "=Eres {{ $('Bucle: Separar Contactos').item.json.senderName }}, un asesor experto técnico de Elspec. Investiga las 3 necesidades eléctricas críticas para una empresa en el sector {{ $('Bucle: Separar Contactos').item.json.industry }} en Colombia. Responde en un párrafo breve y profesional.",
                "options": {},
                "requestOptions": {}
            },
            "id": "campania-openai",
            "name": "OpenAI (Pago)",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                1400,
                450
            ],
            "credentials": {
                "openAiApi": {
                    "id": "hgtTzQhFeKNydHY8",
                    "name": "OpenAi account 2"
                }
            }
        },
        {
            "parameters": {
                "amount": "={{ $('Bucle: Separar Contactos').item.json.delayAmount }}",
                "unit": "={{ $('Bucle: Separar Contactos').item.json.delayUnit }}"
            },
            "id": "campania-wait",
            "name": "Pausa Dinámica",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                1650,
                350
            ]
        },
        {
            "parameters": {
                "jsCode": "const originalData = $('Bucle: Separar Contactos').item.json;\nconst rawAiText = $json.content?.parts?.[0]?.text || $json.text || $json.data || \n  $json.choices?.[0]?.message?.content || $json.choices?.[0]?.text || \n  $json.output || '<p>Contenido no generado</p>';\nconst contentFragment = rawAiText\n  .replace(/^```html\\n?/i, '').replace(/^```\\n?/i, '').replace(/\\n?```$/i, '').trim();\nconst vendorName = originalData.senderName || 'Equipo Comercial';\nconst vendorEmail = originalData.senderEmail || 'ventas@elspecandina.com';\nconst industry = originalData.industry || 'su sector';\nconst email = originalData.email || '';\nconst campaignId = originalData.campaignId || '';\nconst formUrl = `https://elspec-formulario.web.app?email=${encodeURIComponent(email)}&vendedor=${encodeURIComponent(vendorEmail)}&vendedorNombre=${encodeURIComponent(vendorName)}&industry=${encodeURIComponent(industry)}`;\nconst trackingPixelUrl = `https://gualguanosky.app.n8n.cloud/webhook/elspec-track-open-v3?campaignId=${campaignId}`;\nconst aiText = `<!DOCTYPE html>\n<html lang=\"es\"><head><meta charset=\"UTF-8\">\n<title>Soluciones para el sector ${industry} | ELSPEC ANDINA</title></head>\n<body style=\"margin:0;padding:0;background-color:#f4f4f4;font-family:Arial,Helvetica,sans-serif;\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#f4f4f4;padding:20px 0;\">\n<tr><td align=\"center\">\n<table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color:#ffffff;border-radius:8px;overflow:hidden;box-shadow:0 2px 12px rgba(0,0,0,0.08);\">\n  <tr>\n    <td style=\"background:linear-gradient(135deg,#1a237e 0%,#283593 60%,#1565c0 100%);padding:25px 40px;text-align:center;\">\n      <img src=\"https://www.elspecandina.com.co/wp-content/uploads/2021/05/aw3.jpg\" alt=\"ELSPEC ANDINA\" style=\"height:70px;margin-bottom:12px;display:block;margin-left:auto;margin-right:auto;border-radius:4px;\">\n      <h1 style=\"color:#ffffff;margin:0;font-size:26px;font-weight:bold;letter-spacing:1px;\">ELSPEC ANDINA</h1>\n      <p style=\"color:#90caf9;margin:6px 0 0;font-size:13px;letter-spacing:2px;text-transform:uppercase;\">Soluciones en Calidad de Energía Eléctrica</p>\n    </td>\n  </tr>\n  <tr><td style=\"padding:30px 40px;\">${contentFragment}</td></tr>\n  <tr>\n    <td style=\"padding:20px 40px 30px;text-align:center;\">\n      <a href=\"${formUrl}\" style=\"background:linear-gradient(135deg,#1565c0,#1a237e);color:#ffffff;padding:14px 35px;border-radius:25px;text-decoration:none;font-size:15px;font-weight:bold;display:inline-block;\">📋 Solicitar Diagnóstico Gratuito</a>\n    </td>\n  </tr>\n  <tr><td style=\"padding:0 40px;\"><hr style=\"border:none;border-top:1px solid #e0e0e0;\"></td></tr>\n  <tr>\n    <td style=\"padding:25px 40px;\">\n      <table cellpadding=\"0\" cellspacing=\"0\"><tr>\n        <td style=\"border-left:4px solid #1565c0;padding-left:15px;\">\n          <p style=\"margin:0;font-weight:bold;font-size:16px;color:#1a237e;\">${vendorName}</p>\n          <p style=\"margin:3px 0 0;font-size:13px;color:#666;\">Asesor Técnico Comercial | ELSPEC ANDINA S.A.S.</p>\n          <p style=\"margin:3px 0 0;font-size:13px;color:#1565c0;\">📧 ${vendorEmail}</p>\n          <p style=\"margin:3px 0 0;font-size:13px;color:#666;\">🌐 https://www.elspecandina.com.co/ | 📍 Colombia</p>\n        </td>\n      </tr></table>\n    </td>\n  </tr>\n  <tr>\n    <td style=\"background:#1a237e;padding:20px 40px;text-align:center;\">\n      <p style=\"color:#90caf9;font-size:11px;margin:0;\">© 2025 ELSPEC ANDINA S.A.S. | Calidad de Energía para la Industria Colombiana</p>\n      <p style=\"color:#5c6bc0;font-size:10px;margin:5px 0 0;\">Si no deseas recibir más información, responde con \"Cancelar suscripción\".</p>\n    </td>\n  </tr>\n</table></td></tr></table>\n<!-- Tracking Pixel (Invisible) -->\n<img src=\"${trackingPixelUrl}\" alt=\"\" width=\"1\" height=\"1\" style=\"display:none !important;visibility:hidden;opacity:0;\" />\n</body></html>`;\nreturn { \n  json: {\n    ...originalData, \n    aiText: aiText,\n    vendedor: { nombre: vendorName, email: vendorEmail }\n  }\n};"
            },
            "id": "campania-construct",
            "name": "Construir Variables",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1850,
                350
            ]
        },
        {
            "parameters": {
                "toRecipients": "={{ $json.email }}",
                "subject": "=Sobre el sector {{ $json.industry }} y su energía",
                "bodyContent": "={{ $json.aiText }}",
                "additionalFields": {
                    "bodyContentType": "html",
                    "replyTo": "={{ $json.vendedor.email }}"
                }
            },
            "type": "n8n-nodes-base.microsoftOutlook",
            "typeVersion": 2,
            "position": [
                2100,
                350
            ],
            "id": "campania-send",
            "name": "Send a message",
            "credentials": {
                "microsoftOutlookOAuth2Api": {
                    "id": "7RyO0c9MWL40BHsU",
                    "name": "Microsoft Outlook OAuth2 API"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "redirect",
                "redirectUrl": "https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png",
                "options": {}
            },
            "id": "track-redirect",
            "name": "Responder (Redirigir a Pixel)",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                450,
                800
            ]
        },
        {
            "parameters": {
                "jsCode": "return {\n  campaignId: $input.item.json.query.campaignId\n};"
            },
            "id": "track-extract",
            "name": "Extraer ID",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                1000
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://firestore.googleapis.com/v1/projects/sistema-tickets-766f4/databases/(default)/documents/campaigns/{{$json.campaignId}}?updateMask.fieldPaths=stats.opened",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "googleServiceAccountApi",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "fields.stats.opened.integerValue",
                            "value": "1"
                        }
                    ]
                },
                "options": {}
            },
            "id": "track-update",
            "name": "Actualizar DB",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                1000
            ],
            "onError": "continueRegularOutput"
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook Tracking (GET)": {
            "main": [
                [
                    {
                        "node": "Responder (Redirigir a Pixel)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Extraer ID",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extraer ID": {
            "main": [
                [
                    {
                        "node": "Actualizar DB",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Maestro": {
            "main": [
                [
                    {
                        "node": "Enrutador por Acción",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enrutador por Acción": {
            "main": [
                [
                    {
                        "node": "GPT-3.5 (Copywriter)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "DuckDuckGo Scraper (Gratis)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Responder a React (Campaña Recibida)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Bucle: Separar Contactos",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Respond to Webhook (Error)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "GPT-3.5 (Copywriter)": {
            "main": [
                [
                    {
                        "node": "DALL-E 3 (Designer)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "DALL-E 3 (Designer)": {
            "main": [
                [
                    {
                        "node": "Estructurar Respuesta Flyer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Estructurar Respuesta Flyer": {
            "main": [
                [
                    {
                        "node": "Respond Flyer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Custom Search (Gratis 100/dia)": {
            "main": [
                [
                    {
                        "node": "Gemini (Parsear Resultados)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Gemini (Parsear Resultados)": {
            "main": [
                [
                    {
                        "node": "Separar Prospectos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Separar Prospectos": {
            "main": [
                [
                    {
                        "node": "Hunter.io (Gratis)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Hunter.io (Gratis)": {
            "main": [
                [
                    {
                        "node": "Merge Hunter + IA",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Hunter + IA": {
            "main": [
                [
                    {
                        "node": "Agrupar Array",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Agrupar Array": {
            "main": [
                [
                    {
                        "node": "Respond Prospectos",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },

        "Bucle: Separar Contactos": {
            "main": [
                [
                    {
                        "node": "IF: ¿Es Gemini?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF: ¿Es Gemini?": {
            "main": [
                [
                    {
                        "node": "Message a model (Gemini)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "OpenAI (Pago)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Message a model (Gemini)": {
            "main": [
                [
                    {
                        "node": "Pausa Dinámica",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI (Pago)": {
            "main": [
                [
                    {
                        "node": "Pausa Dinámica",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Pausa Dinámica": {
            "main": [
                [
                    {
                        "node": "Construir Variables",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Construir Variables": {
            "main": [
                [
                    {
                        "node": "Send a message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {}
}