n8n-workflows/n8n_flyer_agent.json
{
  "name": "ELSPEC Flyer Agent (Versión Optimizada)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elspec-flyer-agent-v1",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-3.5-turbo",
        "messages": {
          "message": [
            {
              "role": "system",
              "content": "Eres un copywriter experto en marketing industrial para ELSPEC ANDINA."
            },
            {
              "content": "=Genera una campaña para:\nIndustria: {{$json.body.industry}}\nTono: {{$json.body.tone}}\nIdea: {{$json.body.prompt}}\n\nResponde STRICTLY en formato JSON:\n{\n  \"title\": \"Título impactante\",\n  \"copy\": \"Texto persuasivo corto\",\n  \"cta\": \"Botón de acción\",\n  \"img_prompt\": \"Scene of high-end industrial power equipment, professional photography, technical and premium look\"\n}"
            }
          ]
        },
        "jsonOutput": true
      },
      "id": "openai-text-node",
      "name": "GPT-3.5 (Copywriter)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [320, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "imageGeneration",
        "prompt": "={{$json.img_prompt}}",
        "size": "1024x1024",
        "quality": "standard"
      },
      "id": "dalle-node",
      "name": "DALL-E 3 (Designer)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [540, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-creds",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignment": [
            {
              "id": "assigned-title",
              "name": "title",
              "value": "={{$node[\"GPT-3.5 (Copywriter)\"].json.title}}",
              "type": "string"
            },
            {
              "id": "assigned-copy",
              "name": "copy",
              "value": "={{$node[\"GPT-3.5 (Copywriter)\"].json.copy}}",
              "type": "string"
            },
            {
              "id": "assigned-cta",
              "name": "cta",
              "value": "={{$node[\"GPT-3.5 (Copywriter)\"].json.cta}}",
              "type": "string"
            },
            {
              "id": "assigned-img",
              "name": "imageUrl",
              "value": "={{$json.url}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-node",
      "name": "Estructurar Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "options": {
          "responseBody": "={{$json}}"
        }
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [980, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "GPT-3.5 (Copywriter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-3.5 (Copywriter)": {
      "main": [
        [
          {
            "node": "DALL-E 3 (Designer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DALL-E 3 (Designer)": {
      "main": [
        [
          {
            "node": "Estructurar Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Estructurar Respuesta": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
